html {
    font-family: Ubuntu;
    zoom: 100%;
    user-select: none;
    -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
body { transition: 1s; }

.container {
    align-content: center;
    align-self: center;
    text-align: center;
    transition: 3s;
}

.path {
    width: 40%;
    border: none;
    outline: 1px solid grey;
    /* border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%; */
    
}:focus {
    outline: none !important;
    border:1px solid black;
    transition: 1s;
}


#path-div { padding-bottom: 5px; }

.structure {
    width: 40%;
    height: 30px;
    align-items: center;
    align-self: center;
    align-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

#backup-button {
    background-color: #303030;
    color: whitesmoke;
}
#backup-div { 
    padding-top: 2px; 
}


#check-button {
    background-color: #262626;
    color: whitesmoke;
}
#check-div { 
    padding-top: 2px; 
    padding-bottom: 2px; 
}

#download-button {
    background-color: #141414;
    color: whitesmoke;
} 
#download-div { padding-bottom: 2px; }

#github {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 90%;
    background: url("./github.svg") no-repeat;
    background-size: contain;
    display: block;
    border: none;
    outline: none;

    cursor: pointer;
    transition: 0.3s;
} #github:hover {
    cursor: pointer;
    background: url('./github-hover.svg') no-repeat;
    background-size: contain;
    transition: 0.3s;
}

/* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; */
@keyframes shake { 
    10%, 90% { transform: translate3d(-1px, 0, 0); } 
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}