html {
    font-family: Ubuntu;
    zoom: 90%;
    user-select: none;
    -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
body { transition: 1s; }

.container { transition: 3s; }

#warning {
    display: none;
}

.path {
    width: 20%;
    border: none;
    outline: 1px solid grey;
    
}:focus {
    outline: none;
    border:1px solid black;
    transition: 1s;
}

#github {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 90%;
    margin-left: 10px;
    background: url("./github.svg") no-repeat;
    background-size: contain;
    display: block;
    border: none;
    outline: none;

    cursor: pointer;
    transition: 0.3s;
} #github:hover {
    cursor: pointer;
    background: url('./github-hover.svg') no-repeat;
    background-size: contain;
    transition: 0.3s;
}

/* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; */
@keyframes shake { 
    10%, 90% { transform: translate3d(-1px, 0, 0); } 
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}